<div class="container__main">
  <!-- Title -->
  <div class="container__title">
    <span class="label --spacing">Spli</span>
    <span class="label">tter</span>
  </div>
  <!-- Card -->
  <div class="container__card">
    <div class="card">
      <!-- Left -->
      <div class="container__input__bill">
        <!-- Label Bill -->
        <span class="label__item">Bill</span>
        <!-- Input  -->
        <input type="text" placeholder="0" class="input">
        <div class="container__image">
          <i class="fas fa-dollar-sign"></i>
        </div>

        <!-- Select Tip Label -->
        <div class="container__select__tip">
          <span class="label__item ">Select Tip %</span>
          <!-- Mini Card -->
          <div class="container__items">
            <div class="container__mini__card">
              <span class="container__percent">5%</span>
            </div>

            <div class="container__mini__card">
              <span class="container__percent">10%</span>
            </div>

            <div class="container__mini__card">
              <span class="container__percent">15%</span>
            </div>

            <div class="container__mini__card">
              <span class="container__percent">25%</span>
            </div>

            <div class="container__mini__card">
              <span class="container__percent">50%</span>
            </div>

            <!-- Custom -->
            <div class="container__mini__card">
              <span class="container__custom">
                <input type="text" class="custom" placeholder="Custom">
              </span>

            </div>
          </div>

          <!-- Number of People -->
          <span class="label__item --margin">Number of People</span>
          <!-- Input  -->
          <input class="input" type="text" placeholder="0">
          <div class="container__user___img">
            <i class="fas fa-user"></i>
          </div>
        </div>
      </div>
      <!-- Right -->
      <div class="container__display">
        <!-- Tip amount -->
        <div class="item">
          <div class="container__tip">
            <span class="label__tip">Tip amount</span>
            <span class="label__person">/ person</span>
          </div>
          <span class="display">
            ${{money}}
          </span>
        </div>

        <!-- Total -->
        <div class="item --marginTip">
          <div class="container__tip">
            <span class="label__tip">Total</span>
            <span class="label__person">/ person</span>
          </div>
          <span class="display">
            ${{moneyPerson}}
          </span>
        </div>

        <!-- Button -->
        <div class="container__reset">
          <div class="reset">
            <span class="label__reset">Reset</span>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
